.footer {
    margin-top: 20px;
    margin-bottom: -15px;
    a {
        color: black;
        font-size: 30px;
        margin-right: 5px;
    }
    a:hover{
        color: #f72c2c;
    }
}

@media (max-width: 768px) {
    .footer{
        margin-bottom: 1rem;
    }
}
